.container{
  font-family: 'Noto Sans', sans-serif;
}


.google-center{
  width: inherit;
  margin-top: 10%;
}


.google-search{
  position: relative;
  top: 30%;
  left: 40%;
  padding: 10px;

}

.google-buttons{
  position: relative;
  font-size: 1em;
  top: 50%;
  left: 40%;
}


.google-logo{
  margin: auto;
  margin-left: 25%;
}

.google-nav{
  margin-left: 80%;
  text align: center;
  vertical-align: middle;
  line-height: 50px;

}

.google-nav a {
  text-decoration: none;
  color: black;

}

.google-nav a:hover{
  text-decoration: underline;
}

.sign-up-btn{
    background-color: blue;
    border: none;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
