.google-search{
  position: absolute;
  top: 40%;
  left: 42%;


}

.google-buttons{
  position: absolute;
  font-size: 1em;
  top: 45%;
  left: 48%;
  transform: translate(-48%);

}

.google-logo{
  margin-left: 350px;
  margin-bottom: 40px;
}
